{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% bootstrap_css %}
  </head>
  <body>
    <div class="container">
        <h3> {{ message }} </h3>
        {% bootstrap_messages %}
        <form action="{% url 'contato' %}" method="post" class="form" autocomplete="off">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% buttons %}
              <button type="submit" class="btn btn-primary" name="button"> Submeter </button>
          {% endbuttons %}
        </form>
    </div>
  {% bootstrap_javascript jquery='full' %}
  </body>
</html>
