{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <div class="container">
      {% if produtos %}
          <div class="lead">
            <h3 class="text-center display-4"> {{ message }} </h3>
          </div>
          <table class="table">
              <thead>
                  <tr>
                      <th scope="col"> Código </th>
                      <th scope="col"> Nome </th>
                      <th scope="col"> Preço </th>
                      <th scope="col"> Quantidade </th>
                  </tr>
              </thead>
              <tbody>
                  {% for produto in produtos %}
                    <tr>
                        <th scope="row"> {{ produto.id }} </td>
                        <td scope="row">
                          <a href="#modal{{ produto.id }}" data-toggle="modal">
                            {{ produto.nome }}
                          </a>
                        </td>
                        <td scope="row"> {{ produto.preco }} </td>
                        <td scope="row"> {{ produto.quantidade }} </td>
                    </tr>
                    <div class="modal fade bd-example-modal-lg show" id="modal{{ produto.id }}" role="dialog">
                        <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">
                                      <span aria-hidden="true">&times</span>
                                  </button>
                              </div>
                              <div class="modal-body" id="dynamic-content">
                                  <img src="{{ produto.imagem.url }}" class="img-fluid" alt="{{ produto.nome }}">
                              </div>
                          </div>
                        </div>
                    </div>
                  {% endfor %}
              </tbody>
          </table>
      {% else %}
          <div>
              <p class="lead"> Não há produtos cadastrados! </p>
          </div>
      {% endif %}
    </div>
    {% bootstrap_javascript jquery='full' %}
  </body>
</html>
