{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Produto </title>
    {% bootstrap_css %}
  </head>
  <body>
    <div class="container">
      <h3> {{ message }} </h3>
      <div class="form-content">
          {% bootstrap_messages %}
          <form action="{% url 'produto' %}" method="post" class="form" autocomplete="off"
          enctype="multipart/form-data">
              {% csrf_token %}
              {% bootstrap_form form %}
              {% buttons %}
                <button type="submit" class="btn btn-primary"> Cadastrar </button>
              {% endbuttons %}
          </form>
      </div>
    </div>
    {% bootstrap_javascript jquery='full' %}
  </body>
</html>
